<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>
    
    <div class="wrapper">
        <header class="header">
            <div class="user" id="user"></div>
            <div class="header__btn">
                <button class="btn save-btn" id='save'>Сохранить</button>
            </div>
        </header>
        <div class="lists-friends">
            <div class="lists-friends__left">
                <div class="friends">
                    <h2 class="friends__title">Ваши друзья</h2>
                    <form action="#" class="form">
                        <button class="btn form__btn">
                            <svg height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </button>
                        <input type="text" class="form__search" placeholder="Начните вводить имя друга" id="search_1">
                    </form>
                    <ul class="friends__list" id="oneList"></ul>
                </div>
            </div>
            <div class="lists-friends__right">
                <div class="friends friends_dark">
                    <h2 class="friends__title">Друзья в списке</h2>
                    <form action="#" class="form">
                        <button class="btn form__btn">
                            <svg height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </button>
                        <input type="text" class="form__search" placeholder="Поиск друзей в фильтре" id="search_2">
                    </form>
                    <ul class="friends__list"></ul>
                </div>
            </div>
        </div>
    </div>
    
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>